.buttonSection{
display: flex;
justify-content: space-evenly;
}
.buttonStyle {
    padding: 5px;
    background-color: #4b0f0f;
    color: #ffffff;
    border-radius: 7px;
    border-style: none;
    width: 80px;
    height: 30px;
    font-weight: bold;
    box-shadow: 0 0 6px 0 #353232;
}
.buttonStyle:hover{
    box-shadow: inset 0 0 6px 0 #000000;
    color: #eccd9f;

}